.h1 {
    font-display: senter;
}

.header_info {
text-align: center;
}



.caja_imagenes_textos {
    background-color: rgb(255, 255, 255);
    
   
display: flex;
    flex-direction: column;
}

.caja_img {
    background-color: rgb(255, 255, 255);
    
   
display: flex;
    
justify-content: center;
    align-items: center;
    padding: 30px;
    flex-direction: row;
}

.contenedor_texto_info,
.contenedor_2 {
    background-color: rgb(7, 57, 60);
    width: auto;
    height:auto;
    font-size: 15pt;
    display: flex;
    flex-direction: column;
    
   
justify-content: center;
    align-items: center;
    color: white;
}

.image-container {
    background-color: rgb(255, 255, 255);
}

.imagen {
    
   
margin-right: 15px;
}

.imagen1 {
    margin-left: 15px;
}

.centrar {
    text-align: center;
}



@media only screen and (max-width: 600px) {
    .caja_img {
        padding: 15px; 
        flex-direction: column; 
    }

    
    }

   
.contenedor_texto_info,
    
   
.contenedor_2 {
        width: auto; 
    }

    
    

.imagen,
.imagen1 {
        margin: 0; 
    }

    .back-arrow {
        display: block;
        margin-top: 20px; 
        text-align: center;
        text-decoration: none;
        color: #007BFF; 
        font-size: 16px;
        font-weight: bold;
    }